<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Open Speech Recording</title>
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>Open Speech Recording</h1>
      </header>

      <section class="top-display">
	<div class="welcome-display">
          Thanks for contributing your spoken words to this collection! Please share this
          with your friends so we can create a useful dataset!

        <br><br>
        If you would like a copy of the full database, please enter your email address and we will
        email you a download link:
        <br><br>
        <input type="text" name="email">
        <button class="email_to_send">Submit</button><br>
        <br><br>
    <div class="email_done" style="visibility:hidden">
        Your email has been recorded!  Thanks again!!
    </div>

	</div>
      </section>

    </div>

    <footer>
      <a href="https://www.google.com/intl/en/policies/privacy/">Privacy</a>
      <a href="https://www.google.com/intl/en/policies/terms/">Terms</a>
      <a href="/legal">Participant Agreement</a>
    </footer>

  </body>

    <script>

    var csrf_token = "{{ csrf_token() }}";
    var email_sent = document.querySelector('.email_to_send');

    email_sent.onclick = function() {
        var email = document.querySelector('input[name="email"]');
        var uploadUrl = '/post_email?email=' + email.value + '&_csrf_token=' + csrf_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', uploadUrl, true);
        xhr.setRequestHeader('Content-type','application/json');
        xhr.onload = function(e) {
            if (xhr.status === 200) {
                    document.querySelector('.email_done').style.visibility = "visible";
                } else {
                    alert('Uploading failed with error code ' + xhr.status);
                }
            };
        xhr.send();
    }

    </script>
</html>
